<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Insert title here</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<ul>
		<li><a class="active" href="/">Inicio</a></li><hr>
		<li><a href="/cadastroCliente">Adicionar Cliente</a></li>
		<li><a href="/cadastroProduto">Adicionar Produto</a></li><hr>
		<li><a href="/listaClientes">Listar Clientes</a></li>
		<li><a href="/listaProdutos">Listar Produtos</a></li><hr>
	</ul>
	
	<div style="margin-left:21%;padding:1px 16px;height:1000px;">
		<h1>AgroPopShop</h1>
		
		<h2>Sistema para loja de produtos de jardinagem</h2>
	</div>
</body>
</html>