<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta codigoSecreto="1791184488">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>PWeb - Lucas Queiroz</title>
</head>
<body>
	<ul>
		<li><a href="/">Inicio</a></li><hr>
		<li><a href="/cadastroCliente">Adicionar Cliente</a></li>
		<li><a href="/cadastroProduto">Adicionar Produto</a></li><hr>
		<li><a href="/listaClientes">Listar Clientes</a></li>
		<li><a href="/listaProdutos">Listar Produtos</a></li><hr>
	</ul>

	<div style="margin-left:25%;padding:1px 16px;height:1000px;">
		<h2>Produto Alterado com sucesso!</h2>
		<p> Indo para lista de Produtos</p> <div id="timer"></div>
	</div>
	<script>
		function startTimer(duration, display) {
		    var timer = duration, seconds;
		    setInterval(function () {
		        seconds = parseInt(timer % 60, 10);
		        seconds = seconds < 10 ? seconds : seconds;
		        display.textContent = seconds;
		        if (--timer < 0) {
				 	setTimeout(function() {
				    window.location.href = "http://localhost:8080/listaProdutos";
				 	});		           
		        }
		    }, 1000);
		}
		window.onload = function () {
		    var duration = 5; // Converter para segundos
		        display = document.querySelector('#timer'); // selecionando o timer
		    startTimer(duration, display); // iniciando o timer
		};
    </script>
</body>
</html>