<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Listagem</title>

	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
  	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
	<ul>
		<li><a href="/">Inicio</a></li><hr>
		<li><a href="/cadastroCliente">Adicionar Cliente</a></li>
		<li><a class="active"href="/listaClientes">Listar Clientes</a></li><hr>
		<li><a href="/cadastroProduto">Adicionar Produto</a></li>
		<li><a href="/listaProdutos">Listar Produtos</a></li>
	</ul>

	<div style="margin-left:25%;padding:1px 16px;height:1000px;">
		 <br/><br/>
		 	<form action="pesquisarCliente" method="post">
		 		<label>Pesquisa por Cliente:</label>
		 		<input name="nomePesquisa">
		 		<input type="submit" value="Buscar" class="waves-effect waves-light btn">
		 	</form>
		 <br/><br/>
		 
		 <table>
		  <tr th:each = "cliente : ${clientes}">
			  <td th:text = "${cliente.id}"></td>
			  <td th:text = "${cliente.nomeCompleto}"></td>
			  <td th:text = "${cliente.genero}"></td>
			  <td th:text = "${cliente.endereco}"></td>
			  <td th:text = "${cliente.email}"></td>
			  <td th:text = "${cliente.cep}"></td>
			  <td><a th:href="@{/editarCliente/{idCliente}(idCliente=${cliente.id})}">Editar</a> </td>
			  <td><a th:href="@{/removerCliente/{idCliente}(idCliente=${cliente.id})}">Excluir</a> </td>
		  </tr>
		 </table>
	 </div>
	 <script type="text/javascript" src="/materialize/js/materialize.js"></script>
	 <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>